body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 37px;
    padding: 23px;
}
#primary-links{
    height:55px;
    line-height:55px;
    font-size: 20px;
    padding: 21px;
}
li{
    display:inline;
}
#primary-links li{
    display:inline;
}
#primary-links ul{
    padding:0;
    margin:0;
}
#main{
    margin-left: auto;
    margin-right: auto;
    width:960px;
}

#content{
    max-width: 544px;
    padding-left: 24px;
    padding-right: 24px;
    float: left;
    font-size: 16px;
    line-height: 27px;
}

#sidebar{
    max-width: 368px;
    padding-left:130px;
    padding-right:19px;
    padding-top: 21px;
    float: left;
    font-size: 11px;
    line-height: 18px;
}

#sidebar h1{
    font-size: 23px;
    line-height: 35px;
    margin-bottom: 18px;
}

#content h1 {
    font-size: 33px;
    line-height: 51px;
    margin-bottom: 27px;
    color: goldenrod;
}

#footer{
    clear:both;
    text-align: center;
}

h2 {
    font-size: 36px;
    line-height: 57px;
    margin-top: 60px;
    margin-bottom: 23px;
}
h3 {
    font-size: 28px;
    line-height: 46px;
    margin-top: 37px;
    margin-bottom: 14px;
}
h4 {
    font-size: 22px;
    line-height: 37px;
    font-weight: bold;
    margin-bottom: 9px;
}
.card{
    border:5px goldenrod;
}